.Navpar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 20px 80px;
position: absolute;      
z-index: 10; ; 
width: 100%;

     
 }
 .Navpar.scrolled{
    background: #000;
    transition: 0.5s;
 }
.navleft{
    display: flex;
     justify-content: space-between;
     align-items: center;
}
.navleft img{
    width: 100px;
    height: 50px;
    cursor: pointer;
    
}
.navleft ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: 70px;
}
.navleft li{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
transition: 0.3s;
position: relative;
}
.navleft li::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background: #ff0000;
     width:0%;
     height:2px;
    transition: 0.5s;
    z-index: 1;
   
}

.navleft li:hover{
    color: #e50914;
    
}
.navleft li:hover::before{
    width: 100%;
color: red;}

.navright{
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
   }

.navimg{
   cursor: pointer;
    display: flex;
    gap: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
.navimg .caret{
    margin-left: 5px;

}
.navimg .prof {
    border-radius: 6px;
}

.navimg .drop{
    display: none;
    position: absolute;
    width: 200px;
    top: 100%;
    ;
    right: -50px;
    background: #e50914 ;
    padding: 10px;
    color: black;
    border-radius: 5px;
    z-index: 1;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
    
}

.navimg:hover .drop{
    display: block;
    transition: 0.3s;
}

@media (max-width: 800px) {
    .Navpar {
        padding: 20px 40px;
    }
    .navleft ul {
        display: none;
    }
    .navleft img {
        width: 80px;
    }
}

@media (max-width: 500px) {
    .Navpar {
        padding: 20px;
    }
    .navleft img {
        width: 70px;
    }
    .navright {
        gap: 10px;
    }
}
