.cards{
    margin-top:50px;
      ;
     overflow-x: scroll;

     z-index: 1000000;
     ;

}
.cards::-webkit-scrollbar{
    display: none;
}

.cards h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    ;
}
.cardsimgs{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    transition: 0.3s;
     
}

.card{
     
    border-radius: 10px;
      cursor: pointer;
}
.card img{
   
    border-radius: 10px;

}
.card p{
    text-align: center;
    margin-top: 10px;
    color: white;
    font-weight: bold;
}

@media (max-width: 800px) {
    .cards h2 {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .cards h2 {
        font-size: 24px;
    }
    .cardsimgs {
        flex-wrap: wrap;
    }
    .card {
        width: 100%;
    }
}
